<ul class="sidebar-list">
	<% @forums.each do |forum| %>
      <li class="cursorHand">
        <%= image_tag "college.png" %>
        <%= link_to forum.name, forum_path(forum) %>
      </li>
	<% end %>
</ul>

<%= button_to "新建板块", new_forum_path, :method=>:get %>
