<% @forums.each do |forum| %>
	<div class="forum-entry">
		<p class="image">
		<img src="/images/forum.gif" width="30"/>
		</p>
		<div class="info">
			<span class="name"><%= link_to forum.name, forum_path(forum) %></span>
			<span class="description"><%= forum.description %></span>
		</div>
		<div class="count-info">
			1/10
		</div>

		<div class="last-info">
			<span class="name">最后一篇帖子</span>
			<span class="time">1分钟前 作者</span>
		</div>
	</div>
<% end %>

