<div id="topic-question">
  <div class="sidebar">
    <span class="count-post">已解决<br/>问题</span>
  </div>
  <div class="main">
       <span class="edit">
      <%= link_to "编辑", edit_forum_topic_path(@forum, @topic) %>
      <%= link_to "删除", forum_topic_path(@forum, @topic), :method=>:delete, :confirm=>"are you sure to delete?" %>
    </span>
    <div class="header">
      <span class="time">发表于 xxx</span>
      <span class="author">1分钟前 作者</span>
      <span class=""></span>
    </div>

    <div class="content">
      <%= @topic.content %>
    </div>

    <div class="footer">
      <span class="name">最后一篇帖子</span>
      <span class="time"><%= date_diffs(@topic.created_at) %>作者</span>
    </div>

  </div>
</div>

<div id="topic-replys">
  
</div>
