<h2 class="blue-title">Connected Friends</h2>

<ul style="overflow: hidden;"> 
  <% for friend in @connected_friends %> 
    <span style="height:120px;"> 
      <%= image_tag user_pic(friend.friend), :class=>"left" %>
      <div style="width:70%">
        <div class="blue-title mt10"><%= link_to  friend.friend.email, people_path(friend.friend) %></div> 
        <%= link_to "Unlink", friendship_path(friend), :method=>:delete, :condirm=>"sure to delete?" %>
        </p> 
      </div>
    </span> 
  <% end %>
</ul>
