<h2 class="blue-title">Requested Friends</h2>

<ul style="overflow: hidden;"> 
  <% for friend in @requested_friends %> 
    <span style="height:120px;"> 
      <%= image_tag user_pic(friend.friend), :class=>"left" %>
      <div style="width:70%">
        <div class="blue-title mt10"><%= friend.friend.email %></div> 
        <div style="float:right;">
          <%= link_to "Add Friend", friendships_path(:friend_id => friend.friend), :method => :post %> 
        </div>
        </p> 
      </div>
    </span> 
  <% end %>
</ul>
