/* 
Document   : courses
Created on : 2010-9-12
Author     : James
Description:
定义课程类型的CSS
 */
.course_style{
  border:1px solid #BBB1A7;
  min-height:100px;
  margin-top:15px;
  width:100%;
  overflow:hidden;
}

.course_pic{
  float:left;
  margin: 5px;
}

.course_body{
  float:left;
  margin: 5px;
  width: 80%;
}

.course_header {
  border-bottom:1px dashed #BDB1A3;
  height:20px;
  margin-bottom:5px;
}

.course_title
{
  color:#CC0000;
}

.course_info
{
  margin-top: 8px;
}

.course_start
{
  margin-top: 5px;
  margin-bottom: 5px;
}

.f-button {
  background:none repeat scroll 0 0 #F26024;
  border-color:#F7B595 #6B2F15 #6B2F15 #F7B595;
  border-style:solid;
  border-width:1px;
  color:#FFFFFF;
  height:21px;
  letter-spacing:1px;
  line-height:17px;
  padding:1px 10px;
  text-align:center;
}

#course-category li {
  height: 22px;
  padding: 6px 10px 6px 6px;
  border-bottom: 1px solid gray;
  width: 60%;
  margin-left: 10%;
}

#course-category li img {
  margin-top: 3px;
  margin-right: 5px;
  float: left;
}

#course-category li span {
  float: left;
  margin-top: 3px;
}
