form  input,form  textarea
{
  border: 1px solid #999;
  outline:  none;
  padding:  2px 3px;
  margin: 2px;
  height: 22px;
  background-color:#fff;
}

form input.focus, form textarea.focus,  form input:focus, form textarea:focus
{
  border:2px 
  solid #39c;
  padding:1px 2px;
}

form  select{outline:none;}

form input, form select, form textarea {
  font: normal normal normal 12px/1.5 tahoma, arial, simsun, sans-serif;
}

.submit_action{
  margin-left: 140px;
  margin-top: 10px;
}

form label {
  display:block;
  height:24px;
  line-height:22px;
}

form div.input:hover label, form div.input:active label, form div.input:focus label {
  background:url("/images/label.png") no-repeat scroll left -40px transparent;
  color:#000000;
}

form div.input:hover
{
  background-color:#00FF00;
}
