.forums{
	border: 1px solid #444444;
}

.forum-entry{
	overflow: hidden;
	padding-top:10px;
	padding-bottom:10px;
}

.forum-entry:first-child hr {
  display:none;
  } 

.forums hr{
  clear: both;
  margin-left: auto; 
  margin-bottom: 10px;
  margin-right: auto;
  width: 90%;
  border: 1px solid #444444;
}

.forum-entry .image{
	float:left;
	width: 40px;
}

.forum-entry .info .name{
}

.forum-entry .info .description{
	margin-top: 8px;
}

.forum-entry .info {
	float:left;
	width: 60%;
}

.forum-entry .info span{
	display: block;
}

.forum-entry .count-info{
	float:left;
	width: 10%;
}

.forum-entry .last-info{
	float:left;
	width: 20%;
}

.forum-entry .last-info span{
	display: block;
}

/****************************************************************************/
/*                               Topic                                      */
/****************************************************************************/
.topic-entry{
	overflow: hidden;
	border: 1px solid #444444;
	padding-top:10px;
	padding-bottom:10px;
}

.topic-entry .image{
	float:left;
	width: 40px;
}

.topic-entry .info .name{
}

.topic-entry .info .description{
	margin-top: 8px;
}

.topic-entry .info {
	float:left;
	width: 70%;
}

.topic-entry .info span{
	display: block;
}

.topic-entry .count-info{
	float:left;
	width: 10%;
}

.topic-entry .last-info{
	float:left;
	width: 10%;
}

.topic-entry .last-info span{
	display: block;
}

