.align-center {
  
}

.forums{
	border: 1px solid #444444;
}

.forum-entry{
	overflow: hidden;
	padding-top:10px;
	padding-bottom:10px;
}

.forum-entry:first-child hr {
  display:none;
  } 

.forums hr{
  clear: both;
  margin-left: auto; 
  margin-bottom: 10px;
  margin-right: auto;
  width: 90%;
  border: 1px solid #444444;
}

.forum-entry .image{
	float:left;
	width: 40px;
}

.forum-entry .info .name{
}

.forum-entry .info .description{
	margin-top: 8px;
}

.forum-entry .info {
	float:left;
	width: 60%;
}

.forum-entry .info span{
	display: block;
}

.forum-entry .count-info{
	float:left;
	width: 10%;
}

.forum-entry .last-info{
	float:left;
	width: 20%;
}

.forum-entry .last-info span{
	display: block;
}

/****************************************************************************/
/*                               Topic                                      */
/****************************************************************************/
.topic-entry{
	border-bottom: 1px solid #444444;
	padding-top:10px;
	padding-bottom:10px;
	height: 58px;
	clear: both;
}

.topic-entry .image{
	float:left;
	width: 40px;
}

.topic-entry:hover {
  background: rgb(224,234,241);
}

.topic-entry .info .edit{
  float: right;
}

.topic-entry .info .description{
	margin-top: 8px;
}

.topic-entry .info {
	height: 22px;
	line-height:22px;
	margin-top:4px;
	color: #818185;
	font-size: 13px;
	width: 95%;
}

.topic-entry .count-info{
	float:left;
}

.topic-entry .last-info{
	clear: both;
	width: 95%;
}
.topic-entry .last-info > .right {
  float: right;
}

.topic-entry .info .name {
  font-size: 14px;
}
/****************************************************************************/
/*                             Topic Show                                   */
/****************************************************************************/
.topic-show .sidebar{
  float: left;
  width: 120px;
}

.topic-show .main{
  float: left;
  overflow: hidden;
}
