.center {

}

.forums{
  border: 1px solid #444444;
}

.forum-entry{
  overflow: hidden;
  padding-top:10px;
  padding-bottom:10px;
}

.forum-entry:first-child hr {
  display:none;
} 

.forums hr{
  clear: both;
  margin-left: auto; 
  margin-bottom: 10px;
  margin-right: auto;
  width: 90%;
  border: 1px solid #444444;
}

.forum-entry .info .name{
}

.forum-entry .info .description{
  margin-top: 8px;
}

.forum-entry .info {
  float:left;
  width: 60%;
}

.forum-entry .info span{
  display: block;
}

.forum-entry .count-info{
  float:left;
  width: 10%;
}

.forum-entry .last-info{
  float:left;
  width: 20%;
}

.forum-entry .last-info span{
  display: block;
}

/****************************************************************************/
/*                               Topic                                      */
/****************************************************************************/
.topic-entry{
  border-bottom: 1px solid #C3C3C3;
  padding-top:10px;
  padding-bottom:10px;
  height: 58px;
  clear: both;
}

.topic-entry .answers{
  color:#FFFFFF;
  height:42px;
  margin-left:5px;
  padding:5px 2px 0;
  text-align:center;
  display: inline;
  float: left;
  background: none repeat scroll 0 0 #82C3E3;
}

.topic-entry .views {
  color:#FFFFFF;
  height:42px;
  margin-left:5px;
  padding:5px 2px 0;
  text-align:center;
  display: inline;
  float: left;
  background: none repeat scroll 0 0 #C3C3C3;
}

.topic-entry .answers span, .topic-entry .views span {
  display: block;
  font-size: 30px;
}

.topic-entry .answers .em, .topic-entry .views .em {
  font-size: 11px;
}

.topic-entry:hover {
  background: rgb(224,234,241);
}

.topic-entry .info .edit{
  float: right;
}

.topic-entry .info .description{
  margin-top: 8px;
}

.topic-entry .info {
  height: 50px;
  line-height:22px;
  margin-left: 18px;
  display: inline;
  margin-top:4px;
  float: left;
  margin-right: auto;
  color: #818185;
  font-size: 13px;
  width: 700px;
}

.topic-entry .info .name {
  font-size: 14px;
}
/****************************************************************************/
/*                             Topic Show                                   */
/****************************************************************************/
#topic-question .sidebar{
  vertical-align:top;
  width:60px;
  float: left;

}

#topic-question .sidebar .count-post {
background:none repeat scroll 0 0 #97CF2B;
color:#FFFFFF;
display:block;
line-height:16px;
margin:0 auto;
padding:5px 0;
width:46px;
text-align:center;
}


#topic-question .main{
  float: left;
  width: 700px;
}

#topic-question .main .title {
background:none repeat scroll 0 0 #E0EAF1;
font-size:18px;
line-height:30px;
padding:0 10px;
}

#topic-question .main .content {
font-size:13px;
line-height:18px;
padding:0 10px;
margin-top: 10px;
}

#topic-question .main .footer .owner {
height:45px;
padding-left:5px;
padding-top:5px;
text-align:left;
vertical-align:top;
width:200px;
background:#E0EAF1;
}
