/* 
Document   : menu
Created on : 2010-8-30, 15:16:32
Author     : James
Description:
Purpose of the stylesheet follows.
 */

/* 头部定义 */
#divHeader {
  background: #D01E3B url(http://img1.kaixin001.com.cn/i/n_bg_r.gif) repeat-x 50% 0%;
  margin: 0px auto;
  width: 1005px;
}

#divHeader .logo{
  padding-left:55px;
}

#divHeader .login_panel{
  clear: right;
  color: #CCC;
  float: right;
  margin: 1px 12px;
}

#divHeader .login_panel a {
  color: #EEE;
  font-family: Arial;
}

#divHeader .login_panel a:hover {
  color: #fff;
  font-family: Arial;
}

#app-menu{
  margin-top:16px;
  width:460px;
  float:left;
  margin-left: 10px;
}

#app-menu ul, #app-menu ul li, #info-panel ul, #info-panel ul li {
  list-style:none outside none;
}

#app-menu li a:hover {
  color: #FFFFFF;
}

#app-menu ul li.t_title {
  float:left;
  position:relative;
  margin: 3px 5px;
}

#app-menu ul li.t_title span {
  display: block;
}

#app-menu a.t_link {
  color:#EEEEEE;
  cursor:pointer;
  display:block;
  font-size:14px;
  font-weight:bold;
  text-align:center;
  text-decoration:none;
}

#app-menu ul li.t_bar {
  background:url("/images/home_sprite_06.gif") no-repeat scroll 0 -830px transparent;
  float:left;
  height:20px;
  width:1px;
}

#info-panel {
  float: right;
  margin-right: 20px;
}

#info-panel ul li{
  float:left;
  height:20px;
  line-height:20px;
  position:relative;
  z-index:100100;
  margin-left: 3px;
  margin-right: 3px;
}

#info-panel li a{
  color:#EEEEEE;
  cursor:pointer;
  font-size:12px;
  line-height:12px;
  text-align:center;
  text-decoration:none;
}

#info-panel li a span {
  display: block;
}

#info-panel li a:hover {
  color: #FFFFFF;
}

#info-panel ul li.t_bar {
  background:url("/images/home_sprite_06.gif") no-repeat scroll 0 -855px transparent;
  height:29px;
  width:1px;
}


