/* 
Document   : main
Created on : 2010-8-30, 13:44:52
Author     : James
Description:
Purpose of the stylesheet follows.
 */
* {
  background-color:
  margin: 0px;
}

div {
  line-height: 19px;
  text-align: left;
  display: block;
  word-break: break-all;
  word-wrap: break-word;
  /* 下面两个值是为了父元素可以自适应子元素高度 */
  zoom:0;
  overflow:auto;
}


.right {
  float: right;
}

.left {
  float: left;
}

/* 头部定义 */
#divHeader {
  background: #D01E3B url(http://img1.kaixin001.com.cn/i/n_bg_r.gif) repeat-x 50% 0%;
  margin: 0px auto;
  width: 1005px;
}

#divHeader .logo{
  padding-left:55px;
}

#divHeader .login_panel{
clear: right;
color: #CCC;
float: right;
margin: 1px 12px;
}

#divHeader .login_panel a {
color: #EEE;
font-family: Arial;
}

#divHeader .login_panel a:hover {
  color: #fff;
  font-family: Arial;
}

/* 主内容 */

#divall {
background: #EFEFEF;
border-right: 1px solid #BBB;
margin: 0px auto;
overflow: hidden;
width: 1004px;

}

#divall #sidebar
{
  width: 230px; 
  float: left;
}

#divall #sidebar .m1t {
background: #D01E3B;
border-bottom: 5px solid #E88F9D;
height: 10px;
overflow: hidden;

}


#main{
  float: left;
  margin-left: 15px;
  width: 850px;
  overflow: hidden;
}

.field{
  clear:both;
}
/*页脚开始*/

#footer_umv{ 
  width:100%; 
  margin-top:5px; 
  text-align:center; 
  height:auto; 
  padding:0 0 20px 0; 
  background:#1B1B1B; 
  font-size:12px;
  float: left;
}

.footer_menu{ margin:0 auto; width:100%; padding:0; height:auto; line-height:30px; color:#292929;}
.footer_copy{margin:0 auto; width:100%; padding:0; height:auto; line-height:30px; color:#666666;}
.footer_menu a{ text-decoration:none; color:#666; padding:0 7px}
.footer_menu a:hover{ text-decoration:none; color:#ffae00;}

