/* 
    Document   : main
    Created on : 2010-8-30, 13:44:52
    Author     : James
    Description:
        Purpose of the stylesheet follows.
*/
* {
  background-color:
  margin: 0px;
}

/* 头部定义 */
#divHeader {
  height: auto;
  overflow:hidden; 
  background:url(/images/bj_top_02.jpg) repeat-x top center #454545;
}

.login_header_logo{
  float: left;
  margin: 5px;
}

.login_header_umv{
  margin:2px auto 0 auto; 
  padding:0; 
  width:300px; 
  height:auto; 
  overflow:hidden; 
  text-align:right;
}

#headerMenu {
  padding: 5px;
  color: #FFFFFF;
  clear:both;
  float: right;
}

#headerMenu a {
  color:#FFFFFF;
  text-decoration: none;
  outline-style: none;
  padding: 5px;
}

#headerMenu a:hover {
  background: #6D84B4;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
}

#mainBody {
    color: #333;
    margin-left: 5px;
    margin-right: 5px;
}

#divall {
    padding: 5px;
    width: 1024px;
    min-height: 480px;
    margin-left: auto;
    margin-right: auto;
}

#sider_a
{
	margin-left: 5px;
    float: left;
    width:120px; 
}

#main
{
	float: left;
    margin-left: 15px;
    width: 850px;
}

#user_info ul li {
	border-top: 1px solid #C1B9AE;
	line-height: 23px;
	padding-left: 14px;
}

/*页脚开始*/

#footer_umv{ width:100%; margin:0 auto; text-align:center; height:auto; padding:0 0 20px 0; background:#1B1B1B; font-size:12px;}

.footer_menu{ margin:0 auto; width:100%; padding:0; height:auto; line-height:30px; color:#292929;}
.footer_copy{margin:0 auto; width:100%; padding:0; height:auto; line-height:30px; color:#666666;}
.footer_menu a{ text-decoration:none; color:#666; padding:0 7px}
.footer_menu a:hover{ text-decoration:none; color:#ffae00;}

