/* 
Document   : main
Created on : 2010-8-30, 13:44:52
Author     : James
Description:
Purpose of the stylesheet follows.
 */
* {
  background-color:
  margin: 0px;
}

div {
  line-height: 19px;
  text-align: left;
  display: block;
  word-break: break-all;
  word-wrap: break-word;
}

.auto_height {
  /* 下面两个值是为了父元素可以自适应子元素高度 */
  zoom:1;
  overflow:auto;
}

.miniBtn {
  -moz-border-radius:3px 3px 3px 3px;
  background:-moz-linear-gradient(center top , #F4F4F4, #ECECEC) repeat scroll 0 0 transparent;
  border:1px solid #D4D4D4;
  color:#333333;
  cursor:pointer;
  display:inline-block;
  font-family:helvetica,arial,freesans,clean,sans-serif;
  font-size:11px;
  font-weight:bold;
  padding: 2px 5px;
  overflow:visible;
  padding:3px;
  text-shadow:1px 1px 0 #FFFFFF;
  white-space:nowrap;
}

.notready {
  /*text-decoration : line-through;*/
}

.cursorHand {
  cursor:pointer;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.right {
  float: right;
}

.left {
  float: left;
}

.mt30 {
  margin-top: 30px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml140 {
  margin-left:  140px;
}


ul.circle {
  list-style-type:circle;
}

.blue-title {
  background:none repeat scroll 0 0 #D8DFEA;
  border-bottom:1px solid #CCCCCC;
  border-top:1px solid #3B5998;
}

.box {
  border: 1px solid #CCCCCC;
}

.box_half {
  float:  left;
  overflow: hidden;
  width:  48%;
  border: 1px solid #B4B4B4;
  min-height: 250px;
  margin: 0.8%;
}

.box_half ul {
  margin-top: 14px;
}

.box_half ul li {
  background:url("http://images.vancl.com/Others/2010/5/27/newDyn-li.gif") no-repeat scroll 14px center transparent;
  margin-bottom:7px;
  text-indent:22px;
}

.box_half a:link, .box_half a:visited {
  color:#333333;
  text-decoration:none;
}

.box_half a:link, .box_half a:visited {
  color:#333333;
  text-decoration:none;
}

.box_full {
  float:    left;
  overflow: hidden;
  width:    98%;
  margin: 0.8%;
  border: 1px solid #B4B4B4;
}

.box_onequarter {
  float:  left;
  overflow: hidden;
  width:  30.8%;
  /*border: 1px solid #B4B4B4;*/
  min-height: 250px;
  margin: 0.8% 0.8% 0.8% 0;
}

.box_threequarter {
  float:  left;
  overflow: hidden;
  width:  66%;
  border: 1px solid #B4B4B4;
  min-height: 250px;
  margin: 0.8%;
}

.box_title {
  background:none repeat scroll 0 0 #565662;
  color:#FFFFFF;
  height:21px;
  line-height:21px;
  margin:1px auto 0;
}
/* 主内容 */

#divall {
  border-right: 1px solid #BBB;
  margin: 0px auto;
  overflow: hidden;
  width: 1004px;
  background:none repeat scroll 0 0 #EFEFEF;
}

#divall #sidebar
{
  width: 230px; 
  float: left;
}

#divall #sidebar_application
{
  width: 164px;
  float: left;
}

.m1t {
  background: #D01E3B;
  border-bottom: 5px solid #E88F9D;
  height: 10px;
  overflow: hidden;
}

#divall .logindiv {
  padding:15px 0 0 15px;
}

#main{
  background: white;
  border-bottom: 1px solid #EEE;
  border-left: 1px solid #DDD;
  border-top: 1px solid #DDD;
  clear: right;
  float: right;
  min-height: 320px;
}

#introduce {
  margin-top: 30px;
  margin-left: 100px;
}

.sidebar-list li {
  overflow: auto;
  padding:6px 3px 0;
  border-bottom:1px dotted #999999;
}

.sidebar-list img {
  margin-top: 3px;
  margin-right: 5px;
  float: left;
}

.cke_toolbox {
  float: left;
}

/*页脚开始*/

#footer{ 
  border-top: 1px solid #BBB;
  height: auto;
  margin: 0px auto;
  overflow: hidden;
  padding: 7px 0px 50px;
  width: 1005px;
}

