#user_info{
  border: 1px solid rgb(193, 185, 174); 
  margin-top: 5px;
  float: left;
}

#user_info ul li {
  border-top: 1px solid #C1B9AE;
  line-height: 23px;
  padding-left: 14px;
}

#p-detail {
  margin: 10px 5px;
}

.limg {
  overflow:hidden;
  padding-top:6px;
  margin: 0px 20px;
  text-align:center;
}

#p-info-left {
  float: left;
}

#p-info-right {
  float: left;
}

#p-detail span {
  color: #808080;
  font-weight: 400;
  text-align: right;
  display: block;
  float: left;
  margin-right: 5px;
}

