<div class="sidebar-list">
	<h2>应用程序</h2>
	<ul>
		<li>
		<%= image_tag "college.png" %>
		<%= link_to	"博客", blogs_path %>
		</li>
		<li>
		<%= image_tag "college.png" %>
		<%= link_to	"好友", people_path %>
		</li>
	</ul>
</div>
