<div class="left">
	<a href="/s/about.html" target="_blank" title="关于我们">关于我们</a>
	<a href="/s/job.html" target="_blank" title="招聘">招聘</a>
	<a href="/t/cronline.html" target="_blank" title="客服">客服</a>
	<a href="/t/help.html" target="_blank" title="帮助">帮助</a>
</div>
<div class="right">
	2010 MEET&nbsp;<a href="http://www.m-e-e-t.com" target="_blank">京ICP证080285号</a>
</div>
