<div class="left">
	<a href="/s/about.html" target="_blank" title="管理团队">管理团队</a>
	<a href="/s/job.html" target="_blank" title="董事会">董事会</a>
	<a href="/t/cronline.html" target="_blank" title="团队照片">团队照片</a>
	<a href="/t/help.html" target="_blank" title="隐私保护">隐私保护</a>
</div>
<div class="right">
	2010 MEET&nbsp;<a href="http://www.m-e-e-t.com" target="_blank">京ICP证080285号</a>
</div>
