<h1 id="heading">欢迎</h1>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN""
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Welcome_email.html</title>
</head>
<body>
欢迎您的加入
<a href="<%= @url %>">登录</a>
</body>
</html>

