<ul id="course-category">
	<% %w(大学英语四级 大学英语六级 研究生英语 博士生英语).each do |t| %>
		<li><%= image_tag	"cai.gif" %><span><%= link_to	t, "" %></span></li>
	<% end %>
</ul>

<%= button_to "新建板块", new_forum_path, :method=>:get %>
