<ul class="sidebar-list">
  <% @category.each do |t| %>
    <li class="cursorHand">
    <span class="left">
      <%= image_tag "college.png" %>
      <%= link_to	t.name, "" %>
    </span>
    </li>
  <% end %>
</ul>

