<% content_for	:sidebar do %>
  <%= render	"courses_category" %>
<% end %>

<div class="box tac" style="margin:20px 10px;height:300px;">
  <h1 style="margin-top:150px;">推广内容</h1>
</div>

<div class="box tac" style="margin:20px 10px;height:200px;">
  <h1 style="margin-top:100px;">其他内容</h1>
</div>
