<% content_for	:sidebar do %>
  <%= render	"courses_category" %>
<% end %>

<div class="left" style="width:45%;">
  <h1>By School</h1>
  <ul style="list-style:square inside;">
    <% @schools.each do |c| %>
      <li><%= link_to c.name, :controller=>"courses", :action=>"show_school", :id=>c %></li>
    <% end %>
  </ul>
</div>
<div class="left" style="width:45%;">
  <h1>By Subject</h1>
  <% @subjects.each do |c| %>
    <h2><%= c.name %></h2>
    <ul style="list-style:square inside;">
      <% c.children.each do |s| %>
        <li><%= link_to s.name, :controller=>"courses", :action=>"show_subject",  :id=>s %></li>
      <% end %>
    </ul>
  <% end %>
</div>

