<% content_for :nav_bar  do %>
  <%= link_to "首页", root_path %> >>
  <%= @course_category.name %>
<% end %>

<% @subjects.each do |s| %>
  <div class="box_half">
    <h2 class="box_title"><%= s.name %></h2>
    <ul class="mt10">
      <% s.courses.each do |c| %>
        <li class="ml20">
        <%= link_to c.name, study_course_course_path(c) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

