<% content_for	:sidebar do %>
  <%= render	"courses_category" %>
<% end %>

<div style="margin-left: 50px;" class="mt10">
  <h1><%= @subject.name %></h1>
  <% @schools.each do |s| %>
    <h3 class="mt10"><%= s.name %></h3>
    <ul style="margin-left: 15px;">
      <% Course.school_courses(s, @subject).each do |c| %>
        <li> 
        <%= link_to c.name, study_course_course_path(c) %>
        </li>
      <% end %>
    </ul>
  <% end %>  
</div>
