<% content_for	:sidebar do %>
  <%= render	"courses_category" %>
<% end %>

<div style="margin-left: 50px;">
  <h1><%= @school.name %></h1>
  <% @subjects.each do |s| %>
    <h3><%= s.name %></h3>
    <ul style="list-style: square inside none;margin-left: 15px;">
      <% Course.school_courses(@school, s).each do |c| %>
        <li> 
        <%= link_to c.name, study_course_course_path(c) %>
        </li>
      <% end %>
    </ul>
  <% end %>  
</div>

