<% content_for	:sidebar do %>
  <%= render	"courses_category" %>
<% end %>

<%= link_to "edit", edit_course_path(:course_category_id=>@course_category.id, :school_id=>@school.id,  :subject_id=>@subject.id) %>

<div class="field">
 <%= raw(@course.description) %> 
</div>
