<%= button_to t(:new, :scope=>[:common]), new_admin_forum_path, :method=>:get, :class=>"miniBtn left ml20 mt10" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% @forums.each do |forum| %>
    <tr>
      <td><%= forum.name %></td>
    </tr>
  <% end %>
</table>
