<div style="height:160px">
  <h2 class="blue-title">
    <%= t(:title, :scope=>[:view, :personal, :_friends]) %>
  </h2>  
  <ul>      
    <% for friendship in current_user.friendships %>      
      <li>
      <%= link_to friendship.friend.profile.name, profile_path(friendship.friend) %>
      (<%= link_to "remove", friendship, :method => :delete %>)
      </li>      
    <% end %> 
  </ul> 

  <!--
  <h2>Users Who Have Befriended You</h2> 
  <ul> 
    <% for user in current_user.inverse_friends %> 
      <li><%= link_to user.profile.name, profile_path(user) %></li> 
    <% end %> 
  </ul> 
  -->
</div>
