<% content_for :sidebar do %>
  <%= render	"/shared/application" %>
<% end %>

<% for user in @users %> 
	<div class="user"> 
		<p> 
		<strong><%= user.email %></strong> 
		<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %> 
		<div class="clear"></div> 
		</p> 
	</div> 
<% end %> 

