<% content_for :sidebar do %>
  <%= render	"/shared/application" %>
<% end %>

<% for user in @users %> 
  <div> 
    <%= image_tag user_pic(user), :class=>"left" %>
    <div style="width:50%">
      <div class="blue-title mt10"><%= user.email %></div> 

      <div class="">
        <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %> 
      </div>
      </p> 
    </div>
  </div> 
<% end %>

