<h4 class="blue-title">
  Select your Favorite Categories
</h4>

<ul class="sidebar-list">
  <% @categories.each do |t| %>
    <li class="cursorHand">
    <%= image_tag "college.png", {:class=>"left"} %>
    <div style="margin-left: 15px">
    <%= link_to t.name, :controller=>"courses", :action=>"list", :id=>t %>
  </div>
    </li>
  <% end %>
</ul>

