<li class="comment" display="none" id="comment_<%= comment.id %>">
<div class="post parent-post">
  <%= render  :partial=>"/admin/courses/comment_snippet", :locals=>{:comment=>comment} %>
</div>
</li>
