<%= button_to "New", new_admin_course_category_path, :method=>:get, :class=>"miniBtn left ml20 mt10" %>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  <% @course_categories.each do |cc| %>
    <tr>
      <td>
        <%= cc.name %>  
      </td>
      <td>
        <%= link_to "Edit", edit_admin_course_category_path(cc) %>
      </td>
      <td>
        <%= link_to "Delete", admin_course_category_path(cc), :method=>:delete, :confirm=>"Are you sure to delete #{cc.name}" %>
      </td>
    </tr>
  <% end %>
</table>

