<%= link_to	'课程', courses_path %>
<a href="">教师</a>
<% if user_signed_in? %>
	<%= link_to '个人中心', profile_path(current_user) %>
<% end %>
<a href="">问答</a>
<a href="">应用</a>

<%= link_to '博客', blogs_path %>
